{% extends "header.html" %}
{% block content%}
<section class="container">
        {% for unit_id in unit_id %}
            <h3>Polling Unit ID: {{unit_id}}</h3>
            <table>
                <tr>
                    {% for res in result %}
                        {% if res.polling_unit_id == unit_id %}
                            <td class="text-center">{{res.party_abbreviation}} <br> {{res.party_score}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        {% endfor %}
</section>
{% endblock %}

        
      