{% extends "header.html" %}
{% block content%}
<section class="container">
    <h1>Fill up the form and submit</h1>
    <br /> <br />
        <form name="forms">
            <div class="grid-2">
                <section>
                {% for result in results %}
                    <div class="inputs grid-2">
                        <label>{{result.partyname}}</label>
                        <input type="number" value="" name="lga"> 
                    </div>
                
                {% endfor %}
                </section>
            </div>
        </form>
        <section class="text-center" id="stats-display">

        </section>
    </div>
</section>


{% endblock %}

        
      